body {
    background: #DEF2F1;
}

footer {
    margin-top: 2%;
    background: rgb(248, 248,248);
    position: absolute;
    bottom: 0;
    min-height: 50px;  
    width: 100%;
}

#footerText {
    padding-top: 1%;
}

#dropdowns {
      padding-top: 2%;
}

.dropdown {
    margin-left: 2%;
}

#searchLines {
    padding-top: 5%;
}
